# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/
ENV/
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
*.egg-info/
.installed.cfg
*.egg

# Test and coverage
.coverage
*.cover
nosetests.xml
coverage.xml
*.log
.tox/
.nox/
*.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm project files
.idea/

# VS Code settings
.vscode/

# Other files
*.DS_Store
*.swp
